body {
    background-color: #f3e0f6; /* Лавандовый фон */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center-container {
    text-align: center;
    padding: 20px;
}

header {
    display: flex;
    background-color: #8846ad; /* Темно-лавандовый цвет */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome-bar {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: 0;
}

.welcome-bar h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.logout-link {
    background-color: #ff7f50; /* Оранжевый цвет */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto; /* Перемещение в правый крайний угол */
}

/* Стили для основного контента */
.home-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-file,
.graph,
.your-files {
    padding: 20px;
}

/* Стили для списка файлов */
.your-files ul {
    list-style: none;
}

.your-files li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.your-files li a {
    margin-right: 5px; /* Добавить отступ справа после названия файла */
}

/* Стили для кнопки "Delete" с фиксированным размером */
.delete-button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    margin-left: 2px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px; /* Минимальная ширина */
    min-height: 25px; /* Минимальная высота */
}


.delete-button::before {
    content: "✖";
    font-size: 16px;
}

/* Уберите стили для обычных ссылок и кнопок, чтобы сделать их обычными текстовыми ссылками */
a {
    text-decoration: none;
    color: #8846ad; /* Темно-лавандовый цвет */
}

a:hover {
    color: #5a2787; /* Светло-лавандовый цвет при наведении */
}

button, input[type="submit"] {
    background-color: #8846ad; /* Темно-лавандовый цвет */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #5a2787; /* Светло-лавандовый цвет при наведении */
}